*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Fredoka', sans-serif;
}

.box-text{
    color: white;
}

.box-bg{
    background-color: black;
}

.link-color{
    color: #60c9ef;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
} 

.container{
    max-width: 1200px;
    margin: 0px auto;
}


.debug{
    border: 1px solid black; 

} 


.image-setup{
    object-fit: cover;
    width: 100px;
    display: flex;
}

.box-display{
    width: calc(100% / 3 );
    padding:20px;

}

.shadow{
    box-shadow: 2px 2px 2px 2px lightgrey;
}
.move-left{
    float:left;
}

.info {
    min-width: 250px;
    min-height: 102px;
}

.info *{
    padding: 5px;
}


