/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* layout setup */

body{
    font-family: 'Fredoka', sans-serif;
}

header *{
    text-align: center;
    padding-bottom: 20px;
}

.wrapper{
    max-width: 1200px;
    margin: 20px auto;
}

h1{
    color: #e53170;
}

/* color palette */

.box-text{
    color: white;
}

.box-bg{
    background-color: black;
}

.link-color{
    color: #60c9ef;
}

/* Float  Property and content boxes setup*/

.move-left{
    float:left;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
} 

.info {
    min-width: 250px;
    min-height: 100px;
}

.info *{
    padding: 5px;
}


.image-setup{
    object-fit: cover;
    width: 100px;
    display: flex;
}

.box-display{
    width: calc(100% / 3 );
    padding:20px;

}

.shadow{
    box-shadow: 2px 2px 2px 2px lightgrey;
}




/* .debug{
    border: 1px solid black; 

}  */

